
// Global Styles
@import 'partials/global';

// Header Styles
@import 'partials/header';

// Hero area Styles
@import 'partials/hero';

// About area Styles
@import 'partials/about';

// service area Styles
@import 'partials/service';

// Conceling area Styles
@import 'partials/counceling';

// Skill area Styles
@import 'partials/skill';

// recent post area Styles
@import 'partials/recent-post';

// footer post area Styles
@import 'partials/footer';
