
// Global Styles
@import 'partials/global';

// Header Styles
@import 'partials/header';

// Hero area Styles
@import 'partials/hero';

// About area Styles
@import 'partials/about';

// Conceling area Styles
@import 'partials/counceling';
