@media only screen and (max-width: 767px) {
  .header-section .top-header {
    text-align: center;
  }
  .header-section .top-header .topbar-social-icons {
    text-align: center;
    margin-bottom: 10px;
  }
  .header-section .bottom-header {
    padding-top: 20px;
  }
  .header-section .bottom-header .header-cta {
    margin-top: 20px;
  }
  .header-section .bottom-header .header-cta .btn-common {
    margin-top: 20px;
    text-align: center;
  }
  .header-section .logo a img {
    width: 150px;
    margin: 0 auto;
  }
  .hero-section .display-table {
    min-height: 400px;
  }
  .hero-section .owl-nav div {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .hero-section .hero-text {
    padding: 0 30px;
  }
  .hero-section .hero-text h2 {
    font-size: 20px;
  }
  .hero-section .hero-text p {
    font-size: 13px;
    margin: 20px 0;
  }
  .hero-section .hero-text .btn {
    display: block;
    margin-bottom: 10px;
  }
  .section-title h2 {
    font-size: 18px;
  }
  .about-us-section .single-about-widget {
    margin-bottom: 20px;
  }
  .about-us-section .single-about-widget h2 {
    font-size: 18px;
  }
  .about-us-section .single-about-widget p {
    font-size: 16px;
  }
  .single-service-widget {
    width: 100%;
  }
  .single-service-widget h4 {
    font-size: 16px;
  }
  .single-cn-widget {
    margin-bottom: 50px;
  }
  .single-cn-widget div h2 {
    font-size: 14px;
  }
  .skill-section .single-skill {
    margin-bottom: 50px;
  }
  .recent-post-section .single-post-widget .media-left {
    width: auto;
    display: block;
    margin-bottom: 15px;
  }
  .recent-post-section .single-post-widget .media-left a img {
    width: 100%;
    height: 150px;
  }
  .contact-form-area {
    padding: 30px;
  }
  .single-footer-widget {
    text-align: center;
  }
}
