@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700|Roboto+Slab:400,700|Roboto:300,400,400i,500,700");
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.4;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #2a2a2a;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

.btn-common {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ddd;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 28px;
}

.btn-common:hover {
  color: #fff;
  background-color: #c4c3c3;
}

.btn-orange {
  background-color: #fa9f42;
}

.btn-orange:hover {
  color: #fff;
  background-color: #f98610;
}

.btn-green {
  background-color: #187e47;
}

.btn-green:hover {
  color: #fff;
  background-color: #10532f;
}

.section-dark {
  background-color: #e0e0e2;
}

.section-title h2 {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}

.section-title h2::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  background-image: url(../images/title-bg.png);
  width: 75px;
  height: 6px;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 18px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

#loader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}

.square-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

.square-spin img {
  max-width: 64px;
}

.container-fluid.no-gutter,
.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid.no-gutter .row {
  margin: 0px !important;
}

.section-padding {
  padding: 80px 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.no-padding {
  padding: 0 !important;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.top-header {
  background-color: #187e47;
  color: #fff;
}

.top-header a {
  color: #fff;
}

.topbar-social-icons p {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  margin: 0;
}

.topbar-social-icons p .fa {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.topbar-social-icons p .fa:hover {
  opacity: 0.9;
}

.topbar-social-icons p .fa.fa-facebook {
  color: #3b5a9a;
}

.topbar-social-icons p .fa.fa-twitter {
  color: #29a9e1;
}

.topbar-social-icons p .fa.fa-google-plus {
  color: #df4b38;
}

.topbar-social-icons p .fa.fa-instagram {
  color: #5e88ab;
}

.topbar-social-icons p .fa.fa-youtube {
  color: #cb312e;
}

.topbar-contents {
  padding: 8px 0;
}

.topbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topbar-links li {
  float: left;
}

.topbar-links li a {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  letter-spacing: 0.1rem;
  padding: 0 15px;
  line-height: 1.5;
  text-transform: capitalize;
}

.topbar-links li a:hover {
  opacity: 0.8;
}

.topbar-links li select {
  background: none;
  letter-spacing: 0.1rem;
  border: 0;
  cursor: pointer;
}

.topbar-links li select:focus {
  outline: 0;
}

.topbar-links li select option {
  background: #000;
}

.bottom-header {
  padding-top: 40px;
}

.header-single-cta p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
}

.header-single-cta p span {
  color: #721817;
  margin-right: 10px;
}

.header-single-cta .btn-common {
  font-size: 14px;
}

.navigation {
  margin-top: 20px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul ul {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  text-align: left;
  width: 230px;
  z-index: 999;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  border-left: 8px solid #fa9f42;
}

.navigation ul a {
  display: block;
  color: #2a2a2a;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.navigation ul li {
  position: relative;
}

.navigation ul li:last-child a {
  border-bottom: 0;
}

.navigation ul li:hover > ul {
  display: block;
  -webkit-animation: fadeInUpMenu 0.4s;
  -moz-animation: fadeInUpMenu 0.4s;
  -ms-animation: fadeInUpMenu 0.4s;
  -o-animation: fadeInUpMenu 0.4s;
  animation: fadeInUpMenu 0.4s;
}

.navigation > ul > li {
  float: left;
}

.navigation > ul > li > ul {
  top: 100%;
  right: inherit;
  text-align: left;
  left: auto;
}

.navigation > ul > li > ul li a:hover {
  background-color: #fa9f42;
}

.navigation > ul > li > a {
  border-bottom: 0;
  font-size: 15px;
  color: #2a2a2a;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 30px;
  text-transform: capitalize !important;
  padding: 12px 30px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navigation > ul > li > a:hover {
  color: #fff;
  background-color: #187e47;
}

.navigation .menu-icon {
  background-color: rgba(255, 255, 255, 0.025);
  font-size: 26px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  width: 60px;
}

.hero-section {
  background-color: #e4e6e9;
}

.hero-section .owl-nav div {
  position: absolute;
  width: 55px;
  height: 55px;
  line-height: 55px;
  top: 50%;
  transform: translateY(-50%);
  background: #fa9f42;
  color: #fff;
  text-align: center;
  font-size: 24px;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.hero-section .owl-nav div:hover {
  opacity: 1;
}

.hero-section .owl-nav .owl-next {
  left: auto;
  right: 0;
}

.single-slider {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}

.single-slider::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.display-table {
  display: table;
  min-height: 600px;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.hero-text {
  color: #fff;
}

.hero-text h2 {
  font-size: 30px;
  letter-spacing: 0.1rem;
}

.hero-text p {
  font-size: 18px;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  margin: 30px 0;
}

.single-about-widget div:first-child {
  margin-bottom: 20px;
}

.single-about-widget h3 {
  font-size: 18px;
  margin-top: 10px;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.single-about-widget h2 {
  font-size: 28px;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.single-about-widget p {
  color: #727480;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4;
  margin: 25px 0;
}

.single-service-widget {
  width: 20%;
  float: left;
  text-align: center;
  background-color: #fafafa;
  height: 240px;
  box-sizing: border-box;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
}

.single-service-widget:hover {
  background-color: #B07775;
}

.single-service-widget .service-icon {
  height: 160px;
  padding-top: 30px;
}

.single-service-widget h4 {
  padding: 0 45px;
}

.single-service-widget h4 a {
  font-weight: 700;
  color: #333333;
  margin-top: 5px;
  line-height: 23px;
  text-transform: capitalize;
}

.color1 {
  background-color: #95d4c5;
}

.color2 {
  background-color: #87c8dd;
}

.color3 {
  background-color: #fad269;
}

.single-cn-widget img {
  width: 100%;
}

.single-cn-widget:hover div {
  background-color: #fa9f42;
}

.single-cn-widget div {
  display: block;
  background-color: #187e47;
  transition: all 0.3s ease-in-out;
}

.single-cn-widget div h2 {
  margin: 0;
  text-align: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
}

.single-skill h4 {
  font-size: 20px;
  color: #721817;
  font-weight: 400;
  margin-bottom: 10px;
}

.single-skill span {
  font-family: "Lato", sans-serif;
  color: #721817;
  font-style: italic;
  font-size: 14px;
}

.single-skill p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  margin: 25px 0;
}

.single-skill .contact-info {
  padding: 15px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.single-skill .contact-info p {
  line-height: 1.3;
  margin: 5px 0;
}

.single-skill .contact-info p span {
  padding-right: 5px;
}

.skill-info span.year {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: inherit;
  padding: 6px 10px;
  background-color: #fa9f42;
}

.skill-info h5 {
  font-weight: 400;
  font-size: 16px;
}

.skill-set {
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.edu-exp-prograss {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.edu-exp-prograss h5 {
  margin: 0 0 10px;
  font-weight: 400;
  color: #721817;
  font-size: 16px;
}

.edu-exp-prograss .progress {
  overflow: visible;
  height: 6px;
  box-shadow: none;
  position: relative;
  background: #e1e1e1;
  border-radius: 0px;
  margin-bottom: 22px;
}

.edu-exp-prograss .progress-bar {
  box-shadow: none;
  position: relative;
  float: right;
  background-color: #fa9f42;
}

.edu-exp-prograss .progress-bar span {
  position: absolute;
  top: -30px;
  left: 0;
  background: #ebebeb;
  font-style: inherit;
  width: 41px;
  height: 21px;
  border: 1px solid #ccc;
  color: #222;
  font-weight: 700;
  text-align: center;
  line-height: 18px;
  float: left;
}

.edu-exp-prograss .progress-bar span:after {
  position: absolute;
  left: 0;
  right: 0;
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 12px;
  color: #ebebeb;
  bottom: -10px;
  text-shadow: 0px 1px 0px #ccc;
}

.contact-us-section {
  background: #333333;
}

.contact-us-section .image-holder img {
  width: 100%;
  height: 100%;
  min-height: 360px;
  box-shadow: 0px 0px 98px rgba(0, 30, 59, 0.15);
}

.contact-form-area {
  padding: 50px 140px;
}

.contact-form-area .section-title h2 {
  color: #fff;
}

.contact-form-area .section-title h2::after {
  background-image: url(../images/title-bg-white.png);
}

.contact-form-area input.form-control, .contact-form-area textarea.form-control {
  background-color: transparent;
  border-radius: 0;
  border: 0px;
  border-bottom: 1px solid #fff;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-bottom: 40px;
}

.contact-form-area input.form-control:focus, .contact-form-area textarea.form-control:focus {
  outline: 0 0 0 0;
  box-shadow: 0px 0px 0px 0px;
}

.contact-form-area ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.contact-form-area ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.contact-form-area :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.contact-form-area :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.single-post-widget {
  margin-bottom: 50px;
}

.single-post-widget .media-left {
  width: 170px;
}

.single-post-widget .media-left img {
  width: 100%;
}

.single-post-widget .media-right a {
  color: #721817;
}

.single-post-widget .media-right h2 {
  font-size: 17px;
  margin-top: 0;
  letter-spacing: 0.1rem;
}

.single-post-widget .media-right h2 a {
  color: #2a2a2a;
}

.single-post-widget .media-right .post-info p {
  font-style: italic;
  font-size: 13px;
  font-family: "Lato", sans-serif;
}

.single-post-widget .media-right p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

.footer-top {
  background-color: #2f2f2f;
  color: #fff;
}

.footer-top a {
  color: #fff;
}

.footer-top ul {
  margin: 0;
  padding: 0;
}

.single-footer-widget h2 {
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.single-footer-widget p, .single-footer-widget ul {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.single-footer-widget ul {
  list-style: none;
}

.single-footer-widget ul li a {
  line-height: 1.7;
  display: block;
  margin-bottom: 5px;
}

.single-footer-widget ul li a:hover {
  opacity: 0.8;
}

.social-widget .fa {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #fff;
  color: #000;
  margin-right: 5px;
}

.social-widget .fa:hover {
  opacity: 0.9;
}

.social-widget .fa.fa-facebook {
  color: #3b5a9a;
}

.social-widget .fa.fa-twitter {
  color: #29a9e1;
}

.social-widget .fa.fa-google-plus {
  color: #df4b38;
}

.social-widget .fa.fa-instagram {
  color: #5e88ab;
}

.social-widget .fa.fa-youtube {
  color: #cb312e;
}

.footer-bottom {
  background-color: #187e47;
}

.footer-bottom p {
  color: #fff;
  margin: 0;
  padding: 15px 0;
  font-family: "Lato", sans-serif;
  font-size: 13px;
}
