@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700|Roboto+Slab:400,700|Roboto:300,400,400i,500,700");
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.4;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #2a2a2a;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

.btn-common {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ddd;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 28px;
}

.btn-common:hover {
  color: #fff;
  background-color: #c4c4c4;
}

.btn-orange {
  background-color: #fa9f42;
}

.btn-orange:hover {
  color: #fff;
  background-color: #f98610;
}

.btn-green {
  background-color: #187e47;
}

.btn-green:hover {
  color: #fff;
  background-color: #10532f;
}

.section-dark {
  background-color: #f9f9f9;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 18px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

#loader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}

.square-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

.square-spin img {
  max-width: 64px;
}

.section-padding {
  padding: 100px 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.no-padding {
  padding: 0 !important;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.top-header {
  background-color: #187e47;
  color: #fff;
}

.top-header a {
  color: #fff;
}

.topbar-social-icons p {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  margin: 0;
}

.topbar-social-icons p .fa {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.topbar-social-icons p .fa:hover {
  opacity: 0.9;
}

.topbar-social-icons p .fa.fa-facebook {
  color: #3b5a9a;
}

.topbar-social-icons p .fa.fa-twitter {
  color: #29a9e1;
}

.topbar-social-icons p .fa.fa-google-plus {
  color: #df4b38;
}

.topbar-social-icons p .fa.fa-instagram {
  color: #5e88ab;
}

.topbar-social-icons p .fa.fa-youtube {
  color: #cb312e;
}

.topbar-contents {
  padding: 8px 0;
}

.topbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topbar-links li {
  float: left;
}

.topbar-links li a {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  letter-spacing: 0.1rem;
  padding: 0 15px;
  line-height: 1.5;
  text-transform: capitalize;
}

.topbar-links li a:hover {
  opacity: 0.8;
}

.topbar-links li select {
  background: none;
  letter-spacing: 0.1rem;
  border: 0;
  cursor: pointer;
}

.topbar-links li select:focus {
  outline: 0;
}

.topbar-links li select option {
  background: #000;
}

.bottom-header {
  padding-top: 40px;
}

.header-single-cta p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
}

.header-single-cta p span {
  color: #721817;
  margin-right: 10px;
}

.header-single-cta .btn-common {
  font-size: 14px;
}

.navigation {
  margin-top: 20px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul ul {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  text-align: left;
  width: 230px;
  z-index: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  border-left: 8px solid #fa9f42;
}

.navigation ul a {
  display: block;
  color: #2a2a2a;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.navigation ul li {
  position: relative;
}

.navigation ul li:last-child a {
  border-bottom: 0;
}

.navigation ul li:hover > ul {
  display: block;
  -webkit-animation: fadeInUpMenu 0.4s;
  -moz-animation: fadeInUpMenu 0.4s;
  -ms-animation: fadeInUpMenu 0.4s;
  -o-animation: fadeInUpMenu 0.4s;
  animation: fadeInUpMenu 0.4s;
}

.navigation > ul > li {
  float: left;
}

.navigation > ul > li > ul {
  top: 100%;
  right: inherit;
  text-align: left;
  left: auto;
}

.navigation > ul > li > ul li a:hover {
  background-color: #fa9f42;
}

.navigation > ul > li > a {
  border-bottom: 0;
  font-size: 15px;
  color: #2a2a2a;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 30px;
  text-transform: capitalize !important;
  padding: 12px 30px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navigation > ul > li > a:hover {
  color: #fff;
  background-color: #187e47;
}

.navigation .menu-icon {
  background-color: rgba(255, 255, 255, 0.025);
  font-size: 26px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  width: 60px;
}

.hero-section {
  background-color: #e4e6e9;
}

.display-table {
  display: table;
  min-height: 600px;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.hero-text h2 {
  font-size: 30px;
  letter-spacing: 0.1rem;
}

.hero-text p {
  font-size: 18px;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  margin: 30px 0;
}
