
// Font Family
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700|Roboto+Slab:400,700|Roboto:300,400,400i,500,700');

// Variables
$heading-ff: 'Roboto Slab', serif;
$body-primary-ff: 'Roboto', sans-serif;
$body-secondary-ff: 'Lato', sans-serif;
$primary-color: #187e47;
$secondary-color: #fa9f42;
$transition: all 0.3s ease-in-out;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-ff;
  font-weight: 700;
  line-height: 1.4;
}

body {
	  font-family: $body-primary-ff;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #2a2a2a;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a{
	
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	&:hover{text-decoration: none;}
	a:focus{
	outline: none;
	}
}


// Mixins

// Box Shadows
@mixin icon-shadow {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28)
}
@mixin box-shadow {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
}

@mixin button-shadow {
  box-shadow: 0 3px 4.7px .3px rgba(0,0,0,.24) !important;
}

// Button Styles
.btn-common {
  font-family: $body-primary-ff;
  font-size: 16px;
  background-color: #ddd;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 28px;
  &:hover {
    color: #fff;
    background-color: darken( #ddd , 10% ); 
  }
}
.btn-orange {
  background-color: $secondary-color;
  &:hover {
    color: #fff;
    background-color: darken( $secondary-color , 10% ); 
  }
}
.btn-green {
  background-color: $primary-color;
  &:hover {
    color: #fff;
    background-color: darken(  $primary-color , 10% ); 
  }
}


// Sectio Dark
.section-dark {
	background-color: #e0e0e2;
}
.section-title {
  h2 {
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0;
      background-image: url(../images/title-bg.png);
      width: 75px;
      height: 6px;
    }
  }
}


/* ScrollToTop */
a.back-to-top{
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
  i {
  	  display: block;
	  font-size: 18px;
	  width: 55px;
	  height: 55px;
	  line-height: 55px;
	  color: #fff;
	  border-radius: 50%;
	  text-align: center;
	  transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -webkit-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  @include icon-shadow;
	}
	&:hover , &:focus {
		text-decoration: none;
	}
}


// Carousel Styles


// Preloader Styles
#loader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}
.square-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}
.square-spin img {
  max-width: 64px;
}


//Helper Classes
.section-padding {
	padding: 80px 0;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-70 {
	margin-top: 70px;
}
.mt-80 {
	margin-top: 80px;
}
.mt-100 {
	margin-top: 100px;
}
.mt-200 {
  margin-top: 200px;
}
.no-padding {
	padding: 0 !important;
}
.padding-left-none {
	padding-left: 0;
}
.padding-right-none {
	padding-right: 0;
}

//  Fade IN
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


