// Hero area
.hero-section {
    background-color: #e4e6e9;

    // owl navigation
    .owl-nav {
        div {
            position: absolute;
            width: 55px;
            height: 55px;
            line-height: 55px;
            top: 50%;
            transform: translateY(-50%);
            background: $secondary-color;
            color: #fff;
            text-align: center;
            font-size: 24px;
            opacity: 0.7;
            transition: $transition;
            &:hover {
                opacity: 1;
            }
        }
        .owl-next {
            left: auto;
            right: 0;
        }
    }
}

.single-slider {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
.display-table {
    display: table;
    min-height: 600px;
    width: 100%;
}
.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

// Hero Text
.hero-text {
    color: #fff;
    h2 {
        font-size: 30px;
        letter-spacing: 0.1rem;
    }
    p {
        font-size: 18px;
        letter-spacing: 0.1rem;
        line-height: 1.5;
        margin: 30px 0;
    }
}