.single-post-widget {
    margin-bottom: 50px;
    .media-left {
        width: 170px;
        img {
            width: 100%;
        }
    }
    .media-right {
        a {
            color: #721817;
        }
        h2 {
            font-size: 17px;
            margin-top: 0;
            letter-spacing: 0.1rem;
            a {
                color: #2a2a2a;
            }
        }
        .post-info {
            p {
                font-style: italic;
                font-size: 13px;
                font-family: $body-secondary-ff;
            }
        }
        p {
            font-family: $body-secondary-ff;
            font-size: 14px;
            line-height: 1.6;
        }
    }
}