.single-skill {
    h4 {
        font-size: 20px;
        color: #721817;
        font-weight: 400;
        margin-bottom: 10px;
    }
    span {
        font-family: $body-secondary-ff;
        color: #721817;
        font-style: italic;
        font-size: 14px;
    }
    p {
        font-family: $body-secondary-ff;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
        margin: 25px 0;
    }
    .contact-info {
        padding: 15px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        p {
            line-height: 1.3;
            margin: 5px 0;
            span {
                padding-right: 5px;
            }
        }
    }
}

.skill-info {
    span.year {
        display: block;
        font-family: $body-primary-ff;
        color: #fff;
        font-size: 18px;
        font-style: inherit;
        padding: 6px 10px;
        background-color: $secondary-color;
    }
    h5 {
        font-weight: 400;
        font-size: 16px;
    }
}

.skill-set {
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.edu-exp-prograss {
    margin: 0px;
    padding: 0px;
    list-style: none;
    h5 {
        margin: 0 0 10px;
        font-weight: 400;
        color: #721817;
        font-size: 16px;
    }
    .progress {
        overflow: visible;
        height: 6px;
        box-shadow: none;
        position: relative;
        background: #e1e1e1;
        border-radius: 0px;
        margin-bottom: 22px;
    }
    .progress-bar {
        box-shadow: none;
        position: relative;
        float: right;
        background-color: $secondary-color;
        span {
            position: absolute;
            top: -30px;
            left: 0;
            background: #ebebeb;
            font-style: inherit;
            width: 41px;
            height: 21px;
            border: 1px solid #ccc;
            color: #222;
            font-weight: 700;
            text-align: center;
            line-height: 18px;
            float: left;
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                content: "\f0d7";
                font-family: FontAwesome;
                font-size: 12px;
                color: #ebebeb;
                bottom: -10px;
                text-shadow: 0px 1px 0px #ccc;
            }
        }
    }
}